







.box11{   width: 250;
          
    box-shadow: 5px 5px 30px 15px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
.box11 .save {
    background-color:#6E2594 ;
   padding: 5px 15px 5px 5px;
   color:#fff ;
   display: inline-block;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.box11 .img {
   padding: 10px;
}


.box11 .contains  h4 a{
    color: black;
    text-decoration: none;
}
.box11 ul li   { 
   color: #666;
   

}
  .box11 .dis-price h4 {
    text-align: center;
  }

.box11 .btn-group button { 
    width:100%;
    padding:10px ;
    border: none;
    margin-bottom: 10px;
    background-color:#3749BB;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;

  }





  .box12{ 
    background-color:rgb(58, 8, 8); 
    width:200px; 
    height:200px; 
    
     
    } 
    .sub{ 
        width:100px; 
        height:100px; 
        background-color:rgb(3, 43, 3); 
      border-radius: 50%;
    } 
    .box13{ 
    width:200px; 
    height:200px; 
    border:solid; 
    
    background:linear-gradient(#a36e91,#bf5f11); 
    } 
   
   .box15{ 
    width:200; 
    height:200; 
    border-style:double; 
    border-width:10; 
    border-top-right-radius:20%; 
    text-align:center; 
    border-bottom-left-radius:20%; 
  
    

 

    }
   
.box17{
width: 200;
height: 200;
background: radial-gradient(#7d78a0,#bf9b1b);

}



    .box14{ 
        width:200; 
        height:200; 
    
        border:dashed; 
        background: radial-gradient(#09eb2b,#bf9b1b);
    
    } 
     
    .box16{ 
    width:200px; 
    height:200px; 
     
    background:repeating-linear-gradient(45deg, rgb(44, 58, 55) 0%, #bf9b1b 10%, #24b6e3 10%, #e3248a 20%); 
    }
   
 


 
    .box18{ 
    width:200px; 
    height:200; 
    background:repeating-radial-gradient(#09ebdc 0%,#7d78a0 10%,#09eb2b 10%,#eb0909 20%); 
    
    } 
    .box19 { 
    width:200px; 
    height:200px; 
    background:conic-gradient(#eb096023,#8d09eb); 
    
    }
   